<footer id="footer" class="footer mt-5">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="https://cdn.shopify.com/s/files/1/0249/3290/9152/files/SI_PASSIONE_2000x.jpg?v=1667923138" class="img-fluid" alt="banner">
            </div>
        </div>
    </div>
</footer>